* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: #191a1a;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #232323;
}

::-webkit-scrollbar-thumb {
  background-color: #303030;
}

::-webkit-scrollbar-track:hover {
  background-color: #282828;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main menu';
  grid-template-columns: calc(100% - 500px) 500px;
  width: 100%;
  height: 100vh;
}

.grid-container>div {
  font-size: 30px;
}

.map {
  grid-area: 'main';
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
}

.geochart-colors {
  width: 100%;
  height: 100%;
}

.info {
  grid-area: 'menu';
  width: 100%;
  height: 100vh;
  color: white;
  overflow: auto;
}

ul {
  list-style-type: circle;
  padding-left: 40px;
}

.title-bar {
  width: 60%;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #666;
  outline: none;
  opacity: 0.6;
  transition: opacity 0.5s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 20px;
  background: #444444;
}

input[type=range]::-moz-range-thumb {
  width: 30%;
  height: 20px;
  background: #444444;
}

#date {
  /* color: white; */
}

/* <~~MAP OVERLAY~~> */
.map-overlay {
  font: 12px/20px Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 0 0 10px;
}

.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #f66, #7a1400);
}

.map-overlay input {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}