* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #191a1a;
}

a {
  color: black;
}

a:visited {
  color: black;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #232323;
}

::-webkit-scrollbar-thumb {
  background-color: #303030;
}

::-webkit-scrollbar-track:hover {
  background-color: #282828;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}

.map {
  width: 100vw;
  height: 100vh;
}

#map {
  height: 100vh;
  width: 100%;
}

.geochart-colors {
  width: 100%;
  height: 100%;
}

.info {
  grid-area: 'menu';
  width: 100%;
  height: 100vh;
  color: white;
  overflow: auto;
}

#battles {
  list-style-type: circle;
  padding-left: 40px;
}

#battles li {
  font-size: 22px;
}

.title-bar {
  width: 60%;
  border-color: black;
  background-color: black;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #666;
  outline: none;
  opacity: 0.6;
  transition: opacity 0.5s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 20px;
  background: #444;
}

input[type=range]::-moz-range-thumb {
  width: 10%;
  height: 20px;
  background: #444;
  border-radius: 0;
  border: none;
}

input[type=range]::-webkit-slider-thumb:active {
  background-color: #333;
}

input[type=range]::-moz-range-thumb:active {
  background-color: #333;
}

input[type=range]::-moz-range-track {
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background-color: #444;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  opacity: 0.6;
  transition: opacity 0.5s;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.button:active {
  background-color: #333;
}

#date {
  /* color: white; */
}

/* <~~MAP OVERLAY~~> */
.map-overlay {
  font: 18px Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 35%;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 0 0 10px;
}

.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #f66, #7a1400);
}

.map-overlay input {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.top {
  top: 0;
}

.bottom {
  bottom: 5px;
  width: auto;
}

.bottom .map-overlay-inner {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  padding: 2px;
}